ref_time = datetime.datetime(2001, 1, 1, 0, 0)
grid_width = 4320
variables = None
temporal_res = 8
start_time = datetime.datetime(2001, 1, 1, 0, 0)
model_version = '1.0.1'
static_data = False
grid_x0 = 0
calendar = 'gregorian'
compression = False
end_time = datetime.datetime(2012, 1, 1, 0, 0)
spatial_res = 0.083333
grid_height = 2160
grid_y0 = 0
file_format = 'NETCDF4_CLASSIC'
chunk_sizes = (1, 2160, 4320)
compression = True
