compression = False
grid_height = 720
grid_y0 = 0
start_time = datetime.datetime(2001, 1, 1, 0, 0)
model_version = '1.0.1'
variables = None
grid_width = 1440
file_format = 'NETCDF4_CLASSIC'
calendar = 'gregorian'
ref_time = datetime.datetime(2001, 1, 1, 0, 0)
end_time = datetime.datetime(2012, 1, 1, 0, 0)
static_data = False
grid_x0 = 0
spatial_res = 0.25
temporal_res = 8
chunk_sizes = (1, 720, 1440)
compression =  True
