ref_time = datetime.datetime(1980, 1, 1, 0, 0)
start_time = datetime.datetime(1979, 1, 1, 0, 0)
end_time = datetime.datetime(2019, 1, 1, 0, 0)
temporal_res = 8
compression = False
spatial_res = 0.25
chunk_sizes = (1, 720, 1440)
grid_height = 720
grid_width = 1440
grid_y0 = 0
grid_x0 = 0
model_version = '2.1.1'
variables = None
file_format = 'NETCDF4_CLASSIC'
calendar = 'gregorian'
static_data = False
compression =  True
